.more-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.more-text10 {
  display: inline-block;
}
.more-text11 {
  display: inline-block;
  text-decoration: none;
}
.more-text12 {
  display: inline-block;
}
.more-text13 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.more-text14 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.more-text15 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.more-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.more-text17 {
  display: inline-block;
  text-decoration: none;
}
.more-text18 {
  display: inline-block;
  text-decoration: none;
}
.more-text21 {
  display: inline-block;
}
.more-text22 {
  display: inline-block;
}
.more-text23 {
  display: inline-block;
  text-decoration: none;
}
.more-text24 {
  display: inline-block;
}
.more-text25 {
  display: inline-block;
}
.more-text26 {
  display: inline-block;
}
.more-text27 {
  display: inline-block;
}
.more-text28 {
  display: inline-block;
  text-align: center;
}
.more-link10 {
  text-decoration: none;
}
.more-link11 {
  text-decoration: none;
}
.more-link12 {
  text-decoration: none;
}
.more-link13 {
  text-decoration: none;
}
.more-link14 {
  text-decoration: none;
}
.more-link15 {
  text-decoration: none;
}
.more-link16 {
  text-decoration: none;
}
.more-link17 {
  text-decoration: none;
}
.more-link18 {
  text-decoration: none;
}
.more-link19 {
  text-decoration: none;
}
.more-link20 {
  text-decoration: none;
}
.more-link21 {
  text-decoration: none;
}
.more-link22 {
  text-decoration: none;
}
.more-text57 {
  display: inline-block;
}
.more-text58 {
  display: inline-block;
}
.more-text59 {
  display: inline-block;
}
.more-text60 {
  display: inline-block;
}
.more-text61 {
  display: inline-block;
}
