.settings-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.settings-text10 {
  display: inline-block;
}
.settings-text11 {
  display: inline-block;
  text-decoration: none;
}
.settings-text12 {
  display: inline-block;
}
.settings-text13 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.settings-text14 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.settings-text15 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.settings-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.settings-text17 {
  display: inline-block;
  text-decoration: none;
}
.settings-text18 {
  display: inline-block;
  text-decoration: none;
}
.settings-text21 {
  display: inline-block;
}
.settings-text22 {
  display: inline-block;
}
.settings-text23 {
  display: inline-block;
  text-decoration: none;
}
.settings-text24 {
  display: inline-block;
}
.settings-text25 {
  display: inline-block;
}
.settings-text26 {
  display: inline-block;
}
.settings-text27 {
  display: inline-block;
}
.settings-text29 {
  display: inline-block;
}
.settings-text30 {
  display: inline-block;
}
.settings-text31 {
  display: inline-block;
}
.settings-text32 {
  display: inline-block;
}
.settings-text33 {
  display: inline-block;
}
.settings-text34 {
  display: inline-block;
}
.settings-text35 {
  display: inline-block;
}
.settings-text36 {
  display: inline-block;
}
.settings-text37 {
  display: inline-block;
}
.settings-text38 {
  display: inline-block;
}
.settings-text39 {
  display: inline-block;
}
.settings-text40 {
  display: inline-block;
}
.settings-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.settings-text45 {
  font-size: 24px;
}
.settings-text77 {
  display: inline-block;
}
.settings-text78 {
  display: inline-block;
}
.settings-text79 {
  display: inline-block;
}
.settings-text80 {
  display: inline-block;
}
.settings-text81 {
  display: inline-block;
}
