.tools-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tools-text10 {
  display: inline-block;
}
.tools-text11 {
  display: inline-block;
  text-decoration: none;
}
.tools-text12 {
  display: inline-block;
}
.tools-text13 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text14 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text15 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text17 {
  display: inline-block;
  text-decoration: none;
}
.tools-text18 {
  display: inline-block;
  text-decoration: none;
}
.tools-text21 {
  display: inline-block;
}
.tools-text22 {
  display: inline-block;
}
.tools-text23 {
  display: inline-block;
  text-decoration: none;
}
.tools-text24 {
  display: inline-block;
}
.tools-text25 {
  display: inline-block;
}
.tools-text26 {
  display: inline-block;
}
.tools-text27 {
  display: inline-block;
}
.tools-text28 {
  display: inline-block;
  text-align: center;
}
.tools-text31 {
  display: inline-block;
}
.tools-link1 {
  text-decoration: none;
}
.tools-link2 {
  text-decoration: none;
}
.tools-link3 {
  text-decoration: none;
}
.tools-text32 {
  display: inline-block;
}
.tools-text33 {
  display: inline-block;
}
.tools-text34 {
  display: inline-block;
}
.tools-text35 {
  display: inline-block;
}
.tools-text36 {
  display: inline-block;
}
